div.svelte-11hc8a6 {
	-webkit-animation: svelte-11hc8a6-wave 0.8s ease-in-out infinite alternate;
	animation: svelte-11hc8a6-wave 0.8s ease-in-out infinite alternate;
}
div.svelte-11hc8a6:first-of-type {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}
div.svelte-11hc8a6:nth-of-type(2) {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}
@-webkit-keyframes svelte-11hc8a6-wave {
	0% {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(100%);
	}
}
@keyframes svelte-11hc8a6-wave {
	0% {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(100%);
	}
}
