html {
	-webkit-text-size-adjust: 100%;
	line-height: 1.15;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}
body {
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif,
		Apple Color Emoji, Segoe UI Emoji;
	margin: 0;
}
hr {
	color: inherit;
	height: 0;
}
abbr[title] {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
pre,
samp {
	font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	font-size: 1em;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
table {
	border-color: inherit;
	text-indent: 0;
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,
select {
	text-transform: none;
}
[type='button'],
[type='reset'],
[type='submit'],
button {
	-webkit-appearance: button;
}
::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
:-moz-focusring {
	outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
	box-shadow: none;
}
legend {
	padding: 0;
}
progress {
	vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}
[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
summary {
	display: list-item;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
	margin: 0;
}
button {
	background-color: transparent;
	background-image: none;
}
fieldset,
ol,
ul {
	margin: 0;
	padding: 0;
}
ol,
ul {
	list-style: none;
}
html {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
		Noto Color Emoji;
	line-height: 1.5;
}
body {
	font-family: inherit;
	line-height: inherit;
}
*,
:after,
:before {
	border: 0 solid;
	box-sizing: border-box;
}
hr {
	border-top-width: 1px;
}
img {
	border-style: solid;
}
textarea {
	resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #9ca3af;
	opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #9ca3af;
	opacity: 1;
}
input::placeholder,
textarea::placeholder {
	color: #9ca3af;
	opacity: 1;
}
[role='button'],
button {
	cursor: pointer;
}
:-moz-focusring {
	outline: auto;
}
table {
	border-collapse: collapse;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
a {
	color: inherit;
	text-decoration: inherit;
}
button,
input,
optgroup,
select,
textarea {
	color: inherit;
	line-height: inherit;
	padding: 0;
}
code,
kbd,
pre,
samp {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New,
		monospace;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
	display: block;
	vertical-align: middle;
}
img,
video {
	height: auto;
	max-width: 100%;
}
[hidden] {
	display: none;
}
*,
:after,
:before {
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	--tw-border-opacity: 1;
	--tw-blur: var(--tw-empty);
	--tw-brightness: var(--tw-empty);
	--tw-contrast: var(--tw-empty);
	--tw-grayscale: var(--tw-empty);
	--tw-hue-rotate: var(--tw-empty);
	--tw-invert: var(--tw-empty);
	--tw-saturate: var(--tw-empty);
	--tw-sepia: var(--tw-empty);
	--tw-drop-shadow: var(--tw-empty);
	--tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale)
		var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
	border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}
.light {
	--color-text-base: #000;
	--color-text-muted: #616161;
	--color-text-inverted: #fff;
	--color-text-muted-inverted: #d7d7d7d;
	--color-text-selected: #ff2a48;
	--color-bg: #fff;
	--color-primary: #aed6f1;
	--color-secondary: #c5ecff;
	--color-tertiary: #ececec;
	--color-border: #616161;
}
.dark {
	--color-text-base: #09d3ac;
	--color-text-muted: #fff;
	--color-text-inverted: #ececec;
	--color-text-muted-inverted: #616161;
	--color-text-selected: #158a69;
	--color-bg: #000;
	--color-primary: #021973;
	--color-secondary: #0b327d;
	--color-tertiary: #1c1c1c;
	--color-border: #ff0;
}
@font-face {
	font-display: swap;
	font-family: Raleway;
	font-style: normal;
	font-weight: 400;
	src: local('Raleway');
	unicode-range: U+000-5ff;
}
h1 {
	font-size: 2.25rem;
	line-height: 2.5rem;
}
h2 {
	font-size: 1.875rem;
	line-height: 2.25rem;
}
h3 {
	font-size: 1.5rem;
	line-height: 2rem;
}
h4 {
	font-size: 1.25rem;
}
h4,
h5 {
	line-height: 1.75rem;
}
h5 {
	font-size: 1.125rem;
}
h6 {
	font-size: 1rem;
	line-height: 1.5rem;
}
p {
	font-size: 0.75rem;
	line-height: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}
body {
	background-color: var(--color-bg);
	margin-left: auto;
	margin-right: auto;
}
.fixed {
	position: fixed;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.bottom-0 {
	bottom: 0;
}
.top-0 {
	top: 0;
}
.right-0 {
	right: 0;
}
.left-1 {
	left: 0.25rem;
}
.top-56 {
	top: 14rem;
}
.left-0 {
	left: 0;
}
.top-1 {
	top: 0.25rem;
}
.top-1\/2 {
	top: 50%;
}
.left-1\/2 {
	left: 50%;
}
.z-10 {
	z-index: 10;
}
.z-50 {
	z-index: 50;
}
.col-start-1 {
	grid-column-start: 1;
}
.col-end-2 {
	grid-column-end: 2;
}
.m-0\.5 {
	margin: 0.125rem;
}
.m-0 {
	margin: 0;
}
.m-auto {
	margin: auto;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.mx-2 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.my-0\.5 {
	margin-bottom: 0.125rem;
	margin-top: 0.125rem;
}
.my-0 {
	margin-bottom: 0;
	margin-top: 0;
}
.my-2 {
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}
.mx-1 {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
.mb-2 {
	margin-bottom: 0.5rem;
}
.mr-2 {
	margin-right: 0.5rem;
}
.mt-1 {
	margin-top: 0.25rem;
}
.ml-4 {
	margin-left: 1rem;
}
.ml-1 {
	margin-left: 0.25rem;
}
.ml-2 {
	margin-left: 0.5rem;
}
.mb-4 {
	margin-bottom: 1rem;
}
.mt-6 {
	margin-top: 1.5rem;
}
.mb-6 {
	margin-bottom: 1.5rem;
}
.mb-5 {
	margin-bottom: 1.125rem;
}
.mt-4 {
	margin-top: 1rem;
}
.mt-2 {
	margin-top: 0.5rem;
}
.mb-1 {
	margin-bottom: 0.25rem;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.flex {
	display: flex;
}
.inline-flex {
	display: inline-flex;
}
.grid {
	display: grid;
}
.hidden {
	display: none;
}
.h-42 {
	height: 10.5rem;
}
.h-10 {
	height: 2.5rem;
}
.h-64 {
	height: 16rem;
}
.h-full {
	height: 100%;
}
.h-18 {
	height: 4.5rem;
}
.h-72 {
	height: 18rem;
}
.h-60 {
	height: 15rem;
}
.h-96 {
	height: 24rem;
}
.h-16 {
	height: 4rem;
}
.h-56 {
	height: 14rem;
}
.h-44 {
	height: 11rem;
}
.h-12 {
	height: 3rem;
}
.h-8 {
	height: 2rem;
}
.h-24 {
	height: 6rem;
}
.h-7 {
	height: 1.75rem;
}
.h-5 {
	height: 1.125rem;
}
.h-3 {
	height: 0.75rem;
}
.h-6 {
	height: 1.5rem;
}
.max-h-full {
	max-height: 100%;
}
.min-h-screen {
	min-height: 100vh;
}
.w-28 {
	width: 7rem;
}
.w-full {
	width: 100%;
}
.w-44 {
	width: 11rem;
}
.w-40 {
	width: 10rem;
}
.w-64 {
	width: 16rem;
}
.w-0 {
	width: 0;
}
.w-52 {
	width: 13rem;
}
.w-24 {
	width: 6rem;
}
.w-20 {
	width: 5rem;
}
.w-12 {
	width: 3rem;
}
.w-3 {
	width: 0.75rem;
}
.w-8 {
	width: 2rem;
}
.w-6 {
	width: 1.5rem;
}
.max-w-7xl {
	max-width: 80rem;
}
.max-w-full {
	max-width: 100%;
}
.max-w-2xl {
	max-width: 42rem;
}
.flex-1 {
	flex: 1 1 0%;
}
.flex-shrink-0 {
	flex-shrink: 0;
}
.origin-top-left {
	transform-origin: top left;
}
.-translate-x-5 {
	--tw-translate-x: -1.125rem;
	transform: var(--tw-transform);
}
.-translate-x-10 {
	--tw-translate-x: -2.5rem;
	transform: var(--tw-transform);
}
.-translate-x-1\/2 {
	--tw-translate-x: -50%;
	transform: var(--tw-transform);
}
.-translate-y-full {
	--tw-translate-y: -100%;
	transform: var(--tw-transform);
}
.scale-44 {
	--tw-scale-x: 0.44;
	--tw-scale-y: 0.44;
	transform: var(--tw-transform);
}
.scale-60 {
	--tw-scale-x: 0.6;
	--tw-scale-y: 0.6;
}
.scale-60,
.transform {
	transform: var(--tw-transform);
}
.cursor-pointer {
	cursor: pointer;
}
.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-nowrap {
	flex-wrap: nowrap;
}
.content-start {
	align-content: flex-start;
}
.items-start {
	align-items: flex-start;
}
.items-end {
	align-items: flex-end;
}
.items-center {
	align-items: center;
}
.justify-start {
	justify-content: flex-start;
}
.justify-end {
	justify-content: flex-end;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.justify-around {
	justify-content: space-around;
}
.justify-self-center {
	justify-self: center;
}
.overflow-auto {
	overflow: auto;
}
.overflow-hidden {
	overflow: hidden;
}
.overflow-ellipsis {
	text-overflow: ellipsis;
}
.whitespace-nowrap {
	white-space: nowrap;
}
.rounded {
	border-radius: 0.25rem;
}
.rounded-lg {
	border-radius: 0.5rem;
}
.rounded-2xl {
	border-radius: 1rem;
}
.rounded-3xl {
	border-radius: 1.5rem;
}
.rounded-full {
	border-radius: 9999px;
}
.rounded-t {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}
.border-2 {
	border-width: 2px;
}
.border {
	border-width: 1px;
}
.border-skin-border {
	border-color: var(--color-border);
}
.border-transparent {
	border-color: transparent;
}
.bg-skin-bg {
	background-color: var(--color-bg);
}
.bg-skin-secondary {
	background-color: var(--color-secondary);
}
.bg-skin-primary {
	background-color: var(--color-primary);
}
.bg-blue-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(30, 58, 138, var(--tw-bg-opacity));
}
.bg-skin-tertiary {
	background-color: var(--color-tertiary);
}
.bg-transparent {
	background-color: transparent;
}
.bg-gray-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}
.bg-gray-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
}
.bg-opacity-60 {
	--tw-bg-opacity: 0.6;
}
.bg-gradient-to-r {
	background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
.bg-contain {
	background-size: contain;
}
.bg-right-top {
	background-position: 100% 0;
}
.bg-no-repeat {
	background-repeat: no-repeat;
}
.object-cover {
	-o-object-fit: cover;
	object-fit: cover;
}
.p-1 {
	padding: 0.25rem;
}
.p-2 {
	padding: 0.5rem;
}
.p-3\.5 {
	padding: 0.875rem;
}
.p-3 {
	padding: 0.75rem;
}
.p-0\.5 {
	padding: 0.125rem;
}
.p-0 {
	padding: 0;
}
.py-0\.5 {
	padding-bottom: 0.125rem;
	padding-top: 0.125rem;
}
.py-0 {
	padding-bottom: 0;
	padding-top: 0;
}
.py-2 {
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}
.px-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.px-3 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.px-10 {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}
.py-8 {
	padding-bottom: 2rem;
	padding-top: 2rem;
}
.px-5 {
	padding-left: 1.125rem;
	padding-right: 1.125rem;
}
.py-4 {
	padding-bottom: 1rem;
	padding-top: 1rem;
}
.pt-1 {
	padding-top: 0.25rem;
}
.pt-8 {
	padding-top: 2rem;
}
.pl-2 {
	padding-left: 0.5rem;
}
.pr-1 {
	padding-right: 0.25rem;
}
.pt-3 {
	padding-top: 0.75rem;
}
.pb-4 {
	padding-bottom: 1rem;
}
.pb-8 {
	padding-bottom: 2rem;
}
.pr-8 {
	padding-right: 2rem;
}
.pl-0 {
	padding-left: 0;
}
.pl-5 {
	padding-left: 1.125rem;
}
.pl-8 {
	padding-left: 2rem;
}
.pl-3\.5 {
	padding-left: 0.875rem;
}
.pl-3 {
	padding-left: 0.75rem;
}
.pb-1 {
	padding-bottom: 0.25rem;
}
.pt-0\.5 {
	padding-top: 0.125rem;
}
.pt-0 {
	padding-top: 0;
}
.pr-0\.5 {
	padding-right: 0.125rem;
}
.pr-0 {
	padding-right: 0;
}
.pl-6 {
	padding-left: 1.5rem;
}
.pt-4 {
	padding-top: 1rem;
}
.text-center {
	text-align: center;
}
.align-top {
	vertical-align: top;
}
.text-2xl {
	font-size: 1.5rem;
	line-height: 2rem;
}
.text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}
.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}
.text-xs {
	font-size: 0.75rem;
	line-height: 1rem;
}
.text-4xl {
	font-size: 2.25rem;
	line-height: 2.5rem;
}
.text-xl {
	font-size: 1.25rem;
	line-height: 1.75rem;
}
.font-bold {
	font-weight: 700;
}
.font-semibold {
	font-weight: 600;
}
.uppercase {
	text-transform: uppercase;
}
.italic {
	font-style: italic;
}
.text-skin-base {
	color: var(--color-text-base);
}
.text-skin-muted {
	color: var(--color-text-muted);
}
.text-skin-selected {
	color: var(--color-text-selected);
}
.text-skin-inverted {
	color: var(--color-text-inverted);
}
.text-red-900 {
	--tw-text-opacity: 1;
	color: rgba(127, 29, 29, var(--tw-text-opacity));
}
.text-gray-200 {
	--tw-text-opacity: 1;
	color: rgba(229, 231, 235, var(--tw-text-opacity));
}
.no-underline {
	text-decoration: none;
}
.opacity-70 {
	opacity: 0.7;
}
.filter {
	filter: var(--tw-filter);
}
.duration-700 {
	transition-duration: 0.7s;
}
.duration-300 {
	transition-duration: 0.3s;
}
.ease-in-out {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.preserve-3d {
	transform-style: preserve-3d;
}
.perspective-1000 {
	perspective: 1000px;
}
.backface-hidden {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.rotate-y-180 {
	transform: rotateY(180deg);
}
.line-clamp-1 {
	-webkit-line-clamp: 1;
}
.line-clamp-1,
.line-clamp-2 {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
}
.line-clamp-2 {
	-webkit-line-clamp: 2;
}
html {
	overflow-y: scroll;
}
.root {
	display: flex;
	flex-direction: column;
}
.hover\:bg-skin-bg:hover {
	background-color: var(--color-bg);
}
.hover\:font-bold:hover {
	font-weight: 700;
}
.hover\:text-skin-selected:hover {
	color: var(--color-text-selected);
}
.hover\:opacity-80:hover {
	opacity: 0.8;
}
.focus\:outline-none:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
.group:hover .group-hover\:block {
	display: block;
}
.group:hover .group-hover\:rotate-y-180 {
	transform: rotateY(180deg);
}
@media (min-width: 640px) {
	.sm\:mr-3 {
		margin-right: 0.75rem;
	}
	.sm\:inline {
		display: inline;
	}
	.sm\:flex-nowrap {
		flex-wrap: nowrap;
	}
	.sm\:justify-start {
		justify-content: flex-start;
	}
	.sm\:overflow-y-hidden {
		overflow-y: hidden;
	}
}
@media (min-width: 768px) {
	.md\:pl-5 {
		padding-left: 1.125rem;
	}
	.md\:text-base {
		font-size: 1rem;
		line-height: 1.5rem;
	}
}
@media (min-width: 1024px) {
	.lg\:pl-7 {
		padding-left: 1.75rem;
	}
}
@media (min-width: 1280px) {
	.xl\:absolute {
		position: absolute;
	}
	.xl\:top-80 {
		top: 20rem;
	}
	.xl\:col-start-2 {
		grid-column-start: 2;
	}
	.xl\:col-start-1 {
		grid-column-start: 1;
	}
	.xl\:col-end-5 {
		grid-column-end: 5;
	}
	.xl\:col-end-2 {
		grid-column-end: 2;
	}
	.xl\:col-end-6 {
		grid-column-end: 6;
	}
	.xl\:row-start-1 {
		grid-row-start: 1;
	}
	.xl\:row-start-2 {
		grid-row-start: 2;
	}
	.xl\:row-end-3 {
		grid-row-end: 3;
	}
	.xl\:row-end-2 {
		grid-row-end: 2;
	}
	.xl\:m-0 {
		margin: 0;
	}
	.xl\:my-5 {
		margin-bottom: 1.125rem;
		margin-top: 1.125rem;
	}
	.xl\:my-2 {
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
	}
	.xl\:my-3 {
		margin-bottom: 0.75rem;
		margin-top: 0.75rem;
	}
	.xl\:mt-5 {
		margin-top: 1.125rem;
	}
	.xl\:mb-10 {
		margin-bottom: 2.5rem;
	}
	.xl\:ml-4 {
		margin-left: 1rem;
	}
	.xl\:mt-2 {
		margin-top: 0.5rem;
	}
	.xl\:mt-0 {
		margin-top: 0;
	}
	.xl\:ml-5 {
		margin-left: 1.125rem;
	}
	.xl\:mb-5 {
		margin-bottom: 1.125rem;
	}
	.xl\:mb-4 {
		margin-bottom: 1rem;
	}
	.xl\:ml-6 {
		margin-left: 1.5rem;
	}
	.xl\:block {
		display: block;
	}
	.xl\:inline-block {
		display: inline-block;
	}
	.xl\:inline {
		display: inline;
	}
	.xl\:flex {
		display: flex;
	}
	.xl\:hidden {
		display: none;
	}
	.xl\:h-90 {
		height: 22.5rem;
	}
	.xl\:h-108 {
		height: 27rem;
	}
	.xl\:h-120 {
		height: 30rem;
	}
	.xl\:h-44 {
		height: 11rem;
	}
	.xl\:h-60 {
		height: 15rem;
	}
	.xl\:w-96 {
		width: 24rem;
	}
	.xl\:w-60 {
		width: 15rem;
	}
	.xl\:w-52 {
		width: 13rem;
	}
	.xl\:w-40 {
		width: 10rem;
	}
	.xl\:w-80 {
		width: 20rem;
	}
	.xl\:w-48 {
		width: 12rem;
	}
	.xl\:flex-none {
		flex: none;
	}
	.xl\:auto-rows-fr {
		grid-auto-rows: minmax(0, 1fr);
	}
	.xl\:grid-cols-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	.xl\:grid-cols-5 {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}
	.xl\:grid-rows-auto {
		grid-template-rows: repeat(auto-fill, minmax(0, auto));
	}
	.xl\:flex-row {
		flex-direction: row;
	}
	.xl\:items-start {
		align-items: flex-start;
	}
	.xl\:items-center {
		align-items: center;
	}
	.xl\:justify-start {
		justify-content: flex-start;
	}
	.xl\:justify-between {
		justify-content: space-between;
	}
	.xl\:rounded-2xl {
		border-radius: 1rem;
	}
	.xl\:rounded-lg {
		border-radius: 0.5rem;
	}
	.xl\:rounded-full {
		border-radius: 9999px;
	}
	.xl\:rounded-t-lg {
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
	}
	.xl\:bg-cover {
		background-size: cover;
	}
	.xl\:p-2 {
		padding: 0.5rem;
	}
	.xl\:p-3 {
		padding: 0.75rem;
	}
	.xl\:p-3\.5 {
		padding: 0.875rem;
	}
	.xl\:px-2 {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
	.xl\:py-0\.5 {
		padding-bottom: 0.125rem;
		padding-top: 0.125rem;
	}
	.xl\:py-0 {
		padding-bottom: 0;
		padding-top: 0;
	}
	.xl\:pl-5 {
		padding-left: 1.125rem;
	}
	.xl\:pl-10 {
		padding-left: 2.5rem;
	}
	.xl\:pb-20 {
		padding-bottom: 5rem;
	}
	.xl\:pt-0 {
		padding-top: 0;
	}
	.xl\:pl-0 {
		padding-left: 0;
	}
	.xl\:pl-8 {
		padding-left: 2rem;
	}
	.xl\:text-lg {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}
	.xl\:text-xl {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}
	.xl\:text-4xl {
		font-size: 2.25rem;
		line-height: 2.5rem;
	}
	.xl\:text-2xl {
		font-size: 1.5rem;
		line-height: 2rem;
	}
	.xl\:text-base {
		font-size: 1rem;
		line-height: 1.5rem;
	}
	.xl\:text-5xl {
		font-size: 3rem;
		line-height: 1;
	}
	.xl\:line-clamp-2 {
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		display: -webkit-box;
		overflow: hidden;
	}
}
