/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  --primary-colour: #0b327d;
  --secondary-colour: #021973;
  --background-colour: #8e8e8e;
  --light-text: #ececec;
  --dark-text: #070206;
  --border-colour: #5771d5;
  --selected: #158a69;
}